<h1 id="speedie-overlay">speedie-overlay</h1>
<p>speedie’s Gentoo GNU/Linux overlay!</p>
<h1 id="dependencies">Dependencies</h1>
<ul>
<li>Gentoo system (fairly obvious)</li>
<li>app-eselect/eselect-repository or app-portage/layman</li>
<li>A reason to add my overlay (optional)</li>
</ul>
<h2 id="to-add-with-eselect-repository">To add with
eselect-repository:</h2>
<p><code>eselect repository add speedie-overlay git https://codeberg.org/speedie/speedie-overlay</code></p>
<p><code>eselect repository list</code></p>
<p><code>eselect repsitory enable &lt;num&gt;</code></p>
<h2 id="to-add-with-layman">To add with layman:</h2>
<p><code>layman -o https://codeberg.org/speedie/speedie-overlay/raw/branch/main/overlay.xml -f -a speedie-overlay</code></p>
<h2 id="usage-after-adding-with-layman">Usage after adding with
layman:</h2>
<p>NOTE: With layman, you need to run this command manually every time
you want to sync the overlay repository.</p>
<p><code>layman -s speedie-overlay</code></p>
<h2 id="usage-adding-with-eselect-repository">Usage adding with
eselect-repository:</h2>
<p><code>emerge --sync</code></p>
<p>The advantage of using eselect-repository is that Gentoo treats it as
a regular repository and will be updated along with the official Gentoo
repository. This could also be a disadvantage for various reasons, but
you can probably disable this feature!</p>
<h2 id="short-link-for-layman">Short link (for layman)</h2>
<p>It may be difficult to memorize this link. You may choose to add the
<a
href="https://speedie.gq/overlay.xml">https://speedie.gq/overlay.xml</a>
link instead. This is much easier to memorize. This overlay.xml file
should always lead to the latest repository anyway!</p>
<h2 id="license">License</h2>
<p>The ebuilds are liensed under the GPLv2-only license due to Gentoo’s
licensing. I choose to respect that, despite preferring GPLv3!</p>
<h2 id="list-of-all-ebuilds">List of all ebuilds</h2>
<ul>
<li><a href="./app-misc">app-misc</a>
<ul>
<li><a href="./app-misc/fontctrl">fontctrl</a>
<ul>
<li><a
href="./app-misc/fontctrl/fontctrl-1.2.ebuild">fontctrl-1.2.ebuild</a></li>
<li><a
href="./app-misc/fontctrl/fontctrl-9999.ebuild">fontctrl-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/gsimplecal">gsimplecal</a>
<ul>
<li><a
href="./app-misc/gsimplecal/gsimplecal-9999.ebuild">gsimplecal-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/lf">lf</a>
<ul>
<li><a href="./app-misc/lf/lf-9999.ebuild">lf-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/lf-sixel">lf-sixel</a>
<ul>
<li><a
href="./app-misc/lf-sixel/lf-sixel-9999.ebuild">lf-sixel-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/mutt-wizard">mutt-wizard</a>
<ul>
<li><a
href="./app-misc/mutt-wizard/mutt-wizard-3.1.1.ebuild">mutt-wizard-3.1.1.ebuild</a></li>
<li><a
href="./app-misc/mutt-wizard/mutt-wizard-3.1.ebuild">mutt-wizard-3.1.ebuild</a></li>
<li><a
href="./app-misc/mutt-wizard/mutt-wizard-3.2.1.ebuild">mutt-wizard-3.2.1.ebuild</a></li>
<li><a
href="./app-misc/mutt-wizard/mutt-wizard-3.3.1.ebuild">mutt-wizard-3.3.1.ebuild</a></li>
<li><a
href="./app-misc/mutt-wizard/mutt-wizard-9999.ebuild">mutt-wizard-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/pywal">pywal</a>
<ul>
<li><a
href="./app-misc/pywal/pywal-3.3.0.ebuild">pywal-3.3.0.ebuild</a></li>
<li><a
href="./app-misc/pywal/pywal-9999.ebuild">pywal-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/pywal16">pywal16</a>
<ul>
<li><a
href="./app-misc/pywal16/pywal16-9999.ebuild">pywal16-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/smatrix">smatrix</a>
<ul>
<li><a
href="./app-misc/smatrix/smatrix-9999.ebuild">smatrix-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-misc/vifm-ueberzug">vifm-ueberzug</a></li>
<li><a
href="./app-misc/vifm-ueberzug/vifm-ueberzug-9999.ebuild">vifm-ueberzug-9999.ebuild</a></li>
</ul></li>
<li><a href="./app-shells">app-shells</a>
<ul>
<li><a href="./app-shells/zsh-resizing">zsh-resizing</a></li>
<li><a href="./app-shells/zsh-resizing/files">files</a>
<ul>
<li><a
href="./app-shells/zsh-resizing/files/prompt_gentoo_setup-1">prompt_gentoo_setup-1</a></li>
<li><a
href="./app-shells/zsh-resizing/files/zprofile-4">zprofile-4</a></li>
<li><a
href="./app-shells/zsh-resizing/files/zsh-5.3-init.d-gentoo.diff">zsh-5.3-init.d-gentoo.diff</a></li>
<li><a
href="./app-shells/zsh-resizing/files/zsh-5.9-musl-V09datetime-test-fix.patch">zsh-5.9-musl-V09datetime-test-fix.patch</a></li>
<li><a
href="./app-shells/zsh-resizing/files/zsh-5.9-resizing.patch">zsh-5.9-resizing.patch</a></li>
</ul></li>
<li><a
href="./app-shells/zsh-resizing/zsh-resizing-5.9-r3.ebuild">zsh-resizing-5.9-r3.ebuild</a></li>
</ul></li>
<li><a href="./gui-libs">gui-libs</a>
<ul>
<li><a href="./gui-libs/dragon">dragon</a></li>
<li><a
href="./gui-libs/dragon/dragon-1.2.0.ebuild">dragon-1.2.0.ebuild</a></li>
</ul></li>
<li><a href="./media-fonts">media-fonts</a>
<ul>
<li><a href="./media-fonts/dejavu-sans-code">dejavu-sans-code</a>
<ul>
<li><a
href="./media-fonts/dejavu-sans-code/dejavu-sans-code-1.2.2.ebuild">dejavu-sans-code-1.2.2.ebuild</a></li>
</ul></li>
<li><a href="./media-fonts/nerd-fonts">nerd-fonts</a>
<ul>
<li><a
href="./media-fonts/nerd-fonts/nerd-fonts-2.2.2.ebuild">nerd-fonts-2.2.2.ebuild</a></li>
</ul></li>
<li><a
href="./media-fonts/noto-sans-mono-nerd-fonts">noto-sans-mono-nerd-fonts</a></li>
<li><a
href="./media-fonts/noto-sans-mono-nerd-fonts/noto-sans-mono-nerd-fonts-2.2.2.ebuild">noto-sans-mono-nerd-fonts-2.2.2.ebuild</a></li>
</ul></li>
<li><a href="./media-gfx">media-gfx</a>
<ul>
<li><a href="./media-gfx/nsxiv">nsxiv</a>
<ul>
<li><a
href="./media-gfx/nsxiv/nsxiv-9999.ebuild">nsxiv-9999.ebuild</a></li>
</ul></li>
<li><a href="./media-gfx/ueberzug">ueberzug</a></li>
<li><a
href="./media-gfx/ueberzug/ueberzug-9999.ebuild">ueberzug-9999.ebuild</a></li>
</ul></li>
<li><a href="./media-sound">media-sound</a>
<ul>
<li><a href="./media-sound/cli-visualizer">cli-visualizer</a>
<ul>
<li><a
href="./media-sound/cli-visualizer/cli-visualizer-9999.ebuild">cli-visualizer-9999.ebuild</a></li>
</ul></li>
<li><a
href="./media-sound/cli-visualizer-pywal">cli-visualizer-pywal</a></li>
<li><a
href="./media-sound/cli-visualizer-pywal/cli-visualizer-pywal-9999.ebuild">cli-visualizer-pywal-9999.ebuild</a></li>
</ul></li>
<li><a href="./net-misc">net-misc</a>
<ul>
<li><a href="./net-misc/iron">iron</a>
<ul>
<li><a href="./net-misc/iron/iron-1.1.ebuild">iron-1.1.ebuild</a></li>
<li><a href="./net-misc/iron/iron-1.2.ebuild">iron-1.2.ebuild</a></li>
<li><a href="./net-misc/iron/iron-9999.ebuild">iron-9999.ebuild</a></li>
</ul></li>
<li><a href="./net-misc/rchat">rchat</a></li>
<li><a
href="./net-misc/rchat/rchat-0.3.ebuild">rchat-0.3.ebuild</a></li>
<li><a
href="./net-misc/rchat/rchat-0.4.ebuild">rchat-0.4.ebuild</a></li>
<li><a
href="./net-misc/rchat/rchat-0.5.ebuild">rchat-0.5.ebuild</a></li>
<li><a
href="./net-misc/rchat/rchat-9999.ebuild">rchat-9999.ebuild</a></li>
</ul></li>
<li><a href="./net-news">net-news</a>
<ul>
<li><a href="./net-news/rssread">rssread</a></li>
<li><a
href="./net-news/rssread/rssread-9999.ebuild">rssread-9999.ebuild</a></li>
</ul></li>
<li><a href="./sys-fs">sys-fs</a>
<ul>
<li><a href="./sys-fs/genfstab">genfstab</a></li>
<li><a
href="./sys-fs/genfstab/genfstab-24.ebuild">genfstab-24.ebuild</a></li>
<li><a
href="./sys-fs/genfstab/genfstab-28-r1.ebuild">genfstab-28-r1.ebuild</a></li>
</ul></li>
<li><a href="./sys-process">sys-process</a>
<ul>
<li><a href="./sys-process/htop-vim">htop-vim</a></li>
<li><a href="./sys-process/htop-vim/files">files</a>
<ul>
<li><a
href="./sys-process/htop-vim/files/vim-keybindings.patch">vim-keybindings.patch</a></li>
</ul></li>
<li><a
href="./sys-process/htop-vim/htop-vim-3.2.1-r2.ebuild">htop-vim-3.2.1-r2.ebuild</a></li>
</ul></li>
<li><a href="./www-client">www-client</a>
<ul>
<li><a href="./www-client/firefox-bin">firefox-bin</a>
<ul>
<li><a href="./www-client/firefox-bin/files">files</a>
<ul>
<li><a
href="./www-client/firefox-bin/files/disable-auto-update.policy.json">disable-auto-update.policy.json</a></li>
<li><a
href="./www-client/firefox-bin/files/firefox-bin.desktop">firefox-bin.desktop</a></li>
<li><a
href="./www-client/firefox-bin/files/firefox-bin-r2.desktop">firefox-bin-r2.desktop</a></li>
<li><a
href="./www-client/firefox-bin/files/firefox-bin.sh">firefox-bin.sh</a></li>
<li><a
href="./www-client/firefox-bin/files/firefox-bin-wayland.sh">firefox-bin-wayland.sh</a></li>
<li><a
href="./www-client/firefox-bin/files/firefox-bin-x11.sh">firefox-bin-x11.sh</a></li>
<li><a
href="./www-client/firefox-bin/files/firefox-symbolic.svg">firefox-symbolic.svg</a></li>
<li><a
href="./www-client/firefox-bin/files/gentoo-default-prefs.js">gentoo-default-prefs.js</a></li>
</ul></li>
<li><a
href="./www-client/firefox-bin/firefox-bin-78.10.0.ebuild">firefox-bin-78.10.0.ebuild</a></li>
<li><a
href="./www-client/firefox-bin/firefox-bin-78.10.1.ebuild">firefox-bin-78.10.1.ebuild</a></li>
<li><a
href="./www-client/firefox-bin/firefox-bin-78.12.0.ebuild">firefox-bin-78.12.0.ebuild</a></li>
<li><a
href="./www-client/firefox-bin/firefox-bin-88.0.1.ebuild">firefox-bin-88.0.1.ebuild</a></li>
<li><a
href="./www-client/firefox-bin/firefox-bin-88.0.ebuild">firefox-bin-88.0.ebuild</a></li>
</ul></li>
<li><a href="./www-client/icecat-bin">icecat-bin</a></li>
<li><a href="./www-client/icecat-bin/files">files</a>
<ul>
<li><a
href="./www-client/icecat-bin/files/icecat-bin-r1.sh">icecat-bin-r1.sh</a></li>
<li><a
href="./www-client/icecat-bin/files/icecat-bin-r3.desktop">icecat-bin-r3.desktop</a></li>
<li><a
href="./www-client/icecat-bin/files/icecat-symbolic.svg">icecat-symbolic.svg</a></li>
</ul></li>
<li><a
href="./www-client/icecat-bin/icecat-bin-60.7.0.ebuild">icecat-bin-60.7.0.ebuild</a></li>
</ul></li>
<li><a href="./x11-apps">x11-apps</a>
<ul>
<li><a href="./x11-apps/sx">sx</a></li>
<li><a href="./x11-apps/sx/sx-2.1.7.ebuild">sx-2.1.7.ebuild</a></li>
<li><a href="./x11-apps/sx/sx-9999.ebuild">sx-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc">x11-misc</a>
<ul>
<li><a href="./x11-misc/dmenu-spde">dmenu-spde</a>
<ul>
<li><a
href="./x11-misc/dmenu-spde/dmenu-spde-0.1.ebuild">dmenu-spde-0.1.ebuild</a></li>
<li><a
href="./x11-misc/dmenu-spde/dmenu-spde-0.2.ebuild">dmenu-spde-0.2.ebuild</a></li>
<li><a
href="./x11-misc/dmenu-spde/dmenu-spde-0.3.ebuild">dmenu-spde-0.3.ebuild</a></li>
<li><a
href="./x11-misc/dmenu-spde/dmenu-spde-9999.ebuild">dmenu-spde-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/j4-dmenu-desktop-spde">j4-dmenu-desktop-spde</a>
<ul>
<li><a
href="./x11-misc/j4-dmenu-desktop-spde/j4-dmenu-desktop-spde-2.18-r1.ebuild">j4-dmenu-desktop-spde-2.18-r1.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/picom-animations">picom-animations</a>
<ul>
<li><a href="./x11-misc/picom-animations/files">files</a>
<ul>
<li><a
href="./x11-misc/picom-animations/files/transitions.diff">transitions.diff</a></li>
</ul></li>
<li><a
href="./x11-misc/picom-animations/picom-animations-9.1.ebuild">picom-animations-9.1.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/picom-next">picom-next</a>
<ul>
<li><a
href="./x11-misc/picom-next/picom-next-9999.ebuild">picom-next-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/slock-spde">slock-spde</a>
<ul>
<li><a
href="./x11-misc/slock-spde/slock-spde-0.1.ebuild">slock-spde-0.1.ebuild</a></li>
<li><a
href="./x11-misc/slock-spde/slock-spde-9999.ebuild">slock-spde-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/spde">spde</a>
<ul>
<li><a href="./x11-misc/spde/spde-9999.ebuild">spde-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/spmenu">spmenu</a>
<ul>
<li><a
href="./x11-misc/spmenu/spmenu-0.1.ebuild">spmenu-0.1.ebuild</a></li>
<li><a
href="./x11-misc/spmenu/spmenu-0.2.1.ebuild">spmenu-0.2.1.ebuild</a></li>
<li><a
href="./x11-misc/spmenu/spmenu-0.2.ebuild">spmenu-0.2.ebuild</a></li>
<li><a
href="./x11-misc/spmenu/spmenu-9999.ebuild">spmenu-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/xmousepasteblock">xmousepasteblock</a>
<ul>
<li><a
href="./x11-misc/xmousepasteblock/xmousepasteblock-9999.ebuild">xmousepasteblock-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/xshbar">xshbar</a>
<ul>
<li><a
href="./x11-misc/xshbar/xshbar-0.1.ebuild">xshbar-0.1.ebuild</a></li>
<li><a
href="./x11-misc/xshbar/xshbar-0.2.ebuild">xshbar-0.2.ebuild</a></li>
</ul></li>
<li><a href="./x11-misc/xwinwrap">xwinwrap</a></li>
<li><a
href="./x11-misc/xwinwrap/xwinwrap-0.1.ebuild">xwinwrap-0.1.ebuild</a></li>
<li><a
href="./x11-misc/xwinwrap/xwinwrap-9999.ebuild">xwinwrap-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-plugins">x11-plugins</a>
<ul>
<li><a href="./x11-plugins/purple-discord">purple-discord</a></li>
<li><a
href="./x11-plugins/purple-discord/purple-discord-9999.ebuild">purple-discord-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-terms">x11-terms</a>
<ul>
<li><a href="./x11-terms/st-spde">st-spde</a></li>
<li><a
href="./x11-terms/st-spde/st-spde-0.1.ebuild">st-spde-0.1.ebuild</a></li>
<li><a
href="./x11-terms/st-spde/st-spde-1.0.ebuild">st-spde-1.0.ebuild</a></li>
<li><a
href="./x11-terms/st-spde/st-spde-1.1.ebuild">st-spde-1.1.ebuild</a></li>
<li><a
href="./x11-terms/st-spde/st-spde-1.2.ebuild">st-spde-1.2.ebuild</a></li>
<li><a
href="./x11-terms/st-spde/st-spde-9999.ebuild">st-spde-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-wm">x11-wm</a>
<ul>
<li><a href="./x11-wm/libspeedwm">libspeedwm</a>
<ul>
<li><a
href="./x11-wm/libspeedwm/libspeedwm-1.4.ebuild">libspeedwm-1.4.ebuild</a></li>
<li><a
href="./x11-wm/libspeedwm/libspeedwm-1.5.1.ebuild">libspeedwm-1.5.1.ebuild</a></li>
<li><a
href="./x11-wm/libspeedwm/libspeedwm-1.5.ebuild">libspeedwm-1.5.ebuild</a></li>
<li><a
href="./x11-wm/libspeedwm/libspeedwm-1.8.ebuild">libspeedwm-1.8.ebuild</a></li>
<li><a
href="./x11-wm/libspeedwm/libspeedwm-9999.ebuild">libspeedwm-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-wm/speedwm">speedwm</a>
<ul>
<li><a href="./x11-wm/speedwm/files">files</a>
<ul>
<li><a
href="./x11-wm/speedwm/files/speedwm-0.6-no-ipc.patch">speedwm-0.6-no-ipc.patch</a></li>
<li><a
href="./x11-wm/speedwm/files/speedwm-0.6-no-status.patch">speedwm-0.6-no-status.patch</a></li>
<li><a
href="./x11-wm/speedwm/files/speedwm-0.6-no-xresources-ipc.patch">speedwm-0.6-no-xresources-ipc.patch</a></li>
<li><a
href="./x11-wm/speedwm/files/speedwm-0.6-no-xresources.patch">speedwm-0.6-no-xresources.patch</a></li>
<li><a
href="./x11-wm/speedwm/files/speedwm-1.9-norl.patch">speedwm-1.9-norl.patch</a></li>
</ul></li>
<li><a
href="./x11-wm/speedwm/speedwm-0.6.ebuild">speedwm-0.6.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-0.7.ebuild">speedwm-0.7.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-0.8.ebuild">speedwm-0.8.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-0.9.ebuild">speedwm-0.9.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.0.1.ebuild">speedwm-1.0.1.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.0.ebuild">speedwm-1.0.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.1.ebuild">speedwm-1.1.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.2.ebuild">speedwm-1.2.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.3.ebuild">speedwm-1.3.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.4.ebuild">speedwm-1.4.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.5.1.ebuild">speedwm-1.5.1.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.5.ebuild">speedwm-1.5.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.8.ebuild">speedwm-1.8.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-1.9.ebuild">speedwm-1.9.ebuild</a></li>
<li><a
href="./x11-wm/speedwm/speedwm-9999.ebuild">speedwm-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-wm/speedwm-extras">speedwm-extras</a>
<ul>
<li><a
href="./x11-wm/speedwm-extras/speedwm-extras-1.2.ebuild">speedwm-extras-1.2.ebuild</a></li>
<li><a
href="./x11-wm/speedwm-extras/speedwm-extras-1.3.ebuild">speedwm-extras-1.3.ebuild</a></li>
<li><a
href="./x11-wm/speedwm-extras/speedwm-extras-1.4.ebuild">speedwm-extras-1.4.ebuild</a></li>
<li><a
href="./x11-wm/speedwm-extras/speedwm-extras-1.5.ebuild">speedwm-extras-1.5.ebuild</a></li>
<li><a
href="./x11-wm/speedwm-extras/speedwm-extras-1.8.ebuild">speedwm-extras-1.8.ebuild</a></li>
<li><a
href="./x11-wm/speedwm-extras/speedwm-extras-9999.ebuild">speedwm-extras-9999.ebuild</a></li>
</ul></li>
<li><a href="./x11-wm/speedwm-spde">speedwm-spde</a>
<ul>
<li><a href="./x11-wm/speedwm-spde/files">files</a>
<ul>
<li><a
href="./x11-wm/speedwm-spde/files/keybinds.rl.h">keybinds.rl.h</a></li>
<li><a href="./x11-wm/speedwm-spde/files/mouse.rl.h">mouse.rl.h</a></li>
<li><a
href="./x11-wm/speedwm-spde/files/speedwm-1.9-norl.patch">speedwm-1.9-norl.patch</a></li>
</ul></li>
<li><a
href="./x11-wm/speedwm-spde/speedwm-spde-9999.ebuild">speedwm-spde-9999.ebuild</a></li>
</ul></li>
</ul></li>
</ul>
